<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="Estilos/materialize.css" media="screen,projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="Estilos/Estilos.css">
    <title>Plan Seguros</title>
</head>

<body>
    <div class="row">
        <nav>
            <div class="nav-wrapper">
                <a href="inicio.html" class="brand-logo"><img src="Imagenes/Sura.png" id="imgSura"></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <a class="waves-effect waves-light btn" id="btnIniciar" href="Login.html">Iniciar Sesión</a>
                </ul>
            </div>
        </nav>
    </div>

    <div class="row">
        <img src="Imagenes/SegurosSura.png" alt="" id="Sura">
    </div>

    <div class="row">
        <div class="col s7">
            <table>
                <thead>
                    <tr>
                        <th>
                            <h4>¿Qué te ofrecemos?</h4>
                        </th>
                        <th>
                            <h4>Plan Autos Global</h4><a class="waves-effect waves-light btn"
                                id="btnComprar" href="Login.html">Comprar</a>
                        </th>
                        <th>
                            <h4>Seguro de Autos Eléctricos e Híbridos</h4> <a class="waves-effect waves-light btn"
                                id="btnComprar" href="Login.html">Comprar</a>
                        </th>
                        <th>
                            <h4>Plan Autos Clásico</h4><a class="waves-effect waves-light btn"
                                id="btnComprar" href="Login.html">Comprar</a>
                        </th>
                        <th>
                            <h4>Plan Usado Protegido</h4><a class="waves-effect waves-light btn"
                                id="btnComprar" href="Login.html">Comprar</a>
                        </th>
                        <th>
                            <h4>Plan Autos Básico</h4><a class="waves-effect waves-light btn"
                                id="btnComprar" href="Login.html">Comprar</a>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td id="tddefault">Pagar por los daños que les ocasiones a<br>
                            otras personas o a sus bienes</td>
                        <td><i class="large material-icons">check_circle</i> <br>
                            $4100 <br>millones</td>
                        <td><i class="large material-icons">check_circle</i> <br>
                            $4100 <br>millones</td>
                        <td><i class="large material-icons">check_circle</i> <br>
                            $2040 <br>millones</td>
                        <td><i class="large material-icons">check_circle</i> <br>
                            $3040 <br>millones</td>
                        <td><i class="large material-icons">check_circle</i> <br>
                            $640 <br>millones</td>
                    </tr>
                    <tr>
                        <td id="tddefault">Pagar por los gastos necesarios para <br>
                            trámites de defensa judicial</td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                    </tr>
                    <tr>
                        <td id="tddefault">Conductor profesional cuando no puedas <br> manejar
                            por una enfermedad imprevista</td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                    </tr>
                    <tr>
                        <td id="tddefault">Te informamos sobre el estado de las vías</td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                    </tr>

                    <tr>
                        <td id="tddefault">Asesoría jurídica vía telefónica o en el sitio del accidente</td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                    </tr>
                    <tr>
                        <td id="tddefault">Acompañamiento ante el tránsito o centro de conciliación</td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                    </tr>
                    <tr>
                    <tr>
                        <td id="tddefault">Servicio de grúa en caso de varada o accidente</td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons" id="addCircle">add_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons" id="addCircle">add_circle</i></td>
                    </tr>
                    <tr>
                        <td id="tddefault">Taller móvil y cerrajería</td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons" id="addCircle">add_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons" id="addCircle">add_circle</i></td>
                    </tr>
                    <td id="tddefault">Conductor elegido</td>
                    <td><i class="large material-icons">check_circle</i></td>
                    <td><i class="large material-icons">check_circle</i></td>
                    <td><i class="large material-icons">check_circle</i></td>
                    <td><i class="large material-icons" id="Cancel">cancel</i></td>
                    <td><i class="large material-icons" id="Cancel">cancel</i></td>
                    </tr>
                    <tr>
                        <td id="tddefault">Transporte por lesiones o enfermedad</td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                    </tr>
                    <tr>
                        <td id="tddefault">Reponerte tu carro en caso de pérdida total o parcial por hurto</td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                    </tr>
                    <tr>
                        <td id="tddefault">Reponerte tu carro en caso de pérdida total o parcial por daños</td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                    </tr>
                    <tr>
                        <td id="tddefault">Alternativas de movilidad</td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons" id="addCircle">add_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                    </tr>
                    <tr>
                        <td id="tddefault">Consultas gratuitas mecánicas a expertos y sin límite de visitas (Bogotá,
                            Cali, Medellín y Pereira)</td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                    </tr>
                    <tr>
                        <td id="tddefault">Seguro de accidentes personales al conductor</td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                    </tr>
                    <tr>
                        <td id="tddefault">Gastos de parqueadero como consecuencia de un evento cubierto por el seguro
                        </td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                    </tr>
                    <tr>
                        <td id="tddefault">Gastos de traspaso en caso de pérdida total por daños o hurto</td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                    </tr>
                    <tr>
                        <td id="tddefault">Reemplazo de llaves en caso de que se pierdan o dañen</td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                    </tr>
                    <tr>
                        <td id="tddefault">Reponerte accesorios y equipos especiales en caso de pérdida
                            *Según los detalles en la inspección de asegurabilidad del carro</td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                    </tr>
                    <tr>
                        <td id="tddefault">Protección al cargador</td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                        <td><i class="large material-icons">check_circle</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                        <td><i class="large material-icons" id="Cancel">cancel</i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col s4">
            <img src="Imagenes/banner-seguro-autos.jpg" alt="Cotizar">
            <img src="Imagenes/movilidad-covid-19.jpg" alt="" id="Movilidad">
        </div>

        <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="Imagenes/notice1.jpg" id="Noticia">
                    </div>
                    <div class="card-content">
                        <h5>Revive nuestros foros educacionales de Salud en Casa</h5>

                        <p>Creamos este espacio de conversación con nuestra psicóloga experta para que
                            resuelvas dudas y aprendas más sobre cómo manejar tu diagnóstico de salud.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>