<html>
<!DOCTYPE html>
<html dir="ltr" lang="es-ES">

<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<link rel="stylesheet" href="css/home-2021/footer.css" />
	<link rel="stylesheet" href="css/home-2021/header.css" />
	<link rel="stylesheet" href="css/home-2021/home.css" />
	<link rel="stylesheet" href="css/home-2021/main.css" />	
	<link rel="stylesheet" href="css/home-2021/tibot-v4.css" />	
	
	<title>
		Seguros SURA
	</title>
</head>

<body>
	<div class="ms-webpart-zone ms-fullWidth">
		<div id="MSOZoneCell_WebPartWPQ2"
			class="s4-wpcell-plain ms-webpartzone-cell ms-webpart-cell-vertical ms-fullWidth ">
			<div class="ms-webpart-chrome ms-webpart-chrome-vertical ms-webpart-chrome-fullWidth ">
				<div WebPartID="38276782-c0eb-4e14-8aef-a4fa107bc134" id="WebPartWPQ2" width="100%"
					class="ms-WPBody noindex ">
					<div class="ms-rtestate-field">
						<div class="header-new-home2">

							<section class="espacio">
								<div class="header-col-logo">
									<img src="images/home-2021/logo-sura.svg" alt="" />
								</div>

								<div class="row">
									<div class="col-6">
										<a href="Index.html"><button type="submit" id="btnLogin" name="btnLogin">Seguros de
											vehiculos</button></a> 
									</div>
								</div>
							</section>

							<header class="header-2">
								<div class="header-col-title">
									<span>SEGUROS</span>
								</div>
							</header>
						</div>
					</div>
					<div class="ms-clear"></div>
				</div>
			</div>
			<div class="ms-PartSpacingVertical"></div>
		</div>
		<div id="MSOZoneCell_WebPartWPQ1"
			class="s4-wpcell-plain ms-webpartzone-cell ms-webpart-cell-vertical ms-fullWidth ">
			<div class="ms-webpart-chrome ms-webpart-chrome-vertical ms-webpart-chrome-fullWidth ">
				<div WebPartID="1f8e35c3-5880-465c-bc37-adbe25059be9" HasPers="false" id="WebPartWPQ1" width="100%"
					class="ms-WPBody noindex " >
					<div class="ms-rtestate-field">
						<div class="body-container body-container2">
							<div class="body-imgs">
								<div class="body-img" id="img-persona">
									<img src="images/home-2021/home-personas.jpg" height="450" width="700" />
								</div>
								<div class="body-img" id="img-empresa">
									<img src="images/home-2021/home-empresas.jpg" height="450" width="700" />
								</div>
							</div>
							<div class="body-texts">
								<h1>Te damos la bienvenida a Seguros SURA</h1>
								<p>Cuéntanos con qué perfil quieres ingresar</p>
								<div class="body-texts-buttons">
									<div class="body-texts-buttons-col">
										<a href="#" class="body-texts-button" id="persona-btn"
											>PERSONAS</a>
									</div>
									<div class="body-texts-buttons-col">
										<a href="#" class="body-texts-button" id="empresa-btn"
										 >INDEPENDIENTES Y EMPRESAS</a>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="content-center clearfix">
						<!-- Columna izquierda -->
						<div class="col-md-8">
							<menu class="ms-hide">
								<ie:menuitem id="MSOMenu_Help" iconsrc="/_layouts/15/images/HelpIcon.gif"
									onmenuclick="MSOWebPartPage_SetNewWindowLocation(MenuWebPart.getAttribute(39,helpLink,39), MenuWebPart.getAttribute(39,helpMode,39))"
									text="Ayuda" type="option" style="display:none">

								</ie:menuitem>
							</menu>
						</div>
						<div class="col-md-4 col-right">
							<div class="lateral-help">

							</div>
						</div>
					</div>
					<div style='display:none' id='hidZone'></div>
					</span>
				</div>
			</div>
		</div>
		<!--Footer-->
		<div class="footer internal">
			<span id="DeltaPlaceHolderMainFooter">

			</span>
		</div>
	</div>
</div>
</body>

</html>