<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Html login</title>
    <link rel="stylesheet" href="Estilos/styles.css">
    
</head>
<body>    
    
<form action="" class="form-box">
    <img src="Imagenes/CONVENIO-SALUD-SURA-1-800x600.png">
    <h1 class="form-title"> Iniciar Sesión </h1>
    <h1 
    style="color:gray; 
    font-size: 10PX;">EPS SURA</h1>

  
    <select name="identificacion" id="lang">
        
        
        <option value="tipo de identificacion">Tipo De identificacion</option>
        <option value="Tarjeta de identidad"> tarjeta de identidad</option>
        <option value="cedula extranjeria">Cedula Extranjeria </option>
        <option value="nit">Nit </option>
        <option value="registro civil">Registo civil </option>
        <input type="text" placeholder="Numero Identificacion">
       
        <input type="text" placeholder="Contraseña ">

        <div align="left"
        <h1 
    style="color:blue; 
    font-size: 11PX;">¿Has olvidado tu Contraseña?</h1>
    

    
     <button type="submit">
       Iniciar seseión
    </button>

     </div>

        <h1 
    style="color:black; 
    font-size: 10PX;"> <a href="Registro.html">¿Aún no tienes una cuenta?</h1>

       <h1 
    style="color:blue; 
    font-size: 10PX;">Crear una cuenta</h1>    
    </select> 
</form>
</body>
</html>